

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title>Test Page for the Varnish HTTP Server on Fedora</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% if websocket == 'socketio' %}
          <script src="https://assets.localhost.com/socket.io/socket.io.js" type="application/javascript"></script>
        {% elseif websocket == 'sockjs' %}
          <script src="https://assets.localhost.com/sockjs/sockjs.min.js" type="application/javascript"></script>
          <script src="https://assets.localhost.com/sockjs/multiplex.js" type="application/javascript"></script>
        {% elseif websocket == 'cws' %}
          <script src="https://assets.localhost.com/clusterws/clusterws.js" type="application/javascript"></script>
        {% endif %}
        <style type="text/css">
            /*<![CDATA[*/
            body {
                background-color: #fff;
                color: #000;
                font-size: 0.9em;
                font-family: sans-serif,helvetica;
                margin: 0;
                padding: 0;
            }
            input[type="text"] {
                color: #000;
            }
            :link {
                color: #c00;
            }
            :visited {
                color: #c00;
            }
            a:hover {
                color: #f50;
            }
            h1 {
                text-align: center;
                margin: 0;
                padding: 0.6em 2em 0.4em;
                background-color: #294172;
                color: #fff;
                font-weight: normal;
                font-size: 1.75em;
                border-bottom: 2px solid #000;
            }
            h1 strong {
                font-weight: bold;
                font-size: 1.5em;
            }
            h2 {
                text-align: center;
                background-color: #3C6EB4;
                font-size: 1.1em;
                font-weight: bold;
                color: #fff;
                margin: 0;
                padding: 0.5em;
                border-bottom: 2px solid #294172;
            }
            hr {
                display: none;
            }
            .content {
                padding: 1em 5em;
            }
            .alert {
                border: 2px solid #000;
            }

            img {
                border: 2px solid #fff;
                padding: 2px;
                margin: 2px;
            }
            a:hover img {
                border: 2px solid #294172;
            }
            .logos {
                margin: 1em;
                text-align: center;
            }
            /*]]>*/
        </style>
    </head>

    <body>
        <h1>Welcome to <strong>NodeJS</strong> setup!</h1>

        <div class="content">
            <p>This page is used to test <strong>NodeJS</strong>,
            <strong>HAProxy</strong>, <strong>NginX</strong> and <strong>Websocket</strong>
            configurations.</p>

            <div class="alert">
                <h2>File Upload</h2>
                <div class="content">
                    <form method="post" enctype="multipart/form-data">
                        {% if hasUpload == false %}
                            <p>No file uploaded</p>
                        {% else %}
                            <p>{{ fileName }} uploaded.</p>
                        {% endif %}
                        <div>
                            <input name="doc" type="file" />
                            <input type="submit" value="Submit" />
                        </div>
                    </form> 
                </div>
            </div><br /><br />

            <div class="alert">
                <h2>Session</h2>
                <div class="content">
                    <p>
                        Below is a fragment that holds the session value when the
                        page was first loaded
                    </p>
                    <h3>
                        {% if datetime is not defined %}
                            Session is not enabled.
                        {% else %}
                            {{ datetime }}
                        {% endif %}
                    </h3>
                </div>
            </div><br /><br />

            <div class="alert">
                <h2>Websocket</h2>
                <div class="content">
                    <div id="websocket-contianer">
                        <h3>Accessed port: {{ port }} {{ pid }} {{ time }}</h3>
                        <form name="message-form" data-websocket="{{ websocket }}" data-websocket-host="{{ websocketHost }}">
                            <input type="text" name="message" />
                        </form>
                        <div id="messages-container">
                        </div>
                    </div>
                </div>
            </div><br /><br />

        </div>
    
        {# A different domain serving assets #}
        <script src="https://assets.localhost.com/js/websocket.js" type="application/javascript"></script>
    </body>
</html>